
/* 定义下拉菜单样式 */

.nav,.nav li ul{margin:0;padding:0;}
.nav {list-style-type:none;}
.nav li {position:relative;float:left;}
.nav li ul {display:none;position:absolute;top:15px;padding-top:5px;list-style-type:none;}
.nav li ul li {padding-left:0px;background-color: #FFFFFF;clear: both;}
.nav li ul li a{text-decoration: none;color: #000000;white-space:nowrap; display:block;padding: 3px 0px;background-color:#F0F0F0;}
.nav li ul li a:hover{background-color: #5BADFF; color: #FFFFFF;}

.nav li.spec a{
	text-decoration: none;color: #000000;white-space:nowrap; display:block;padding-left:3px;padding-right:5px;
}

.nav li.spec a:hover{background-color: #5BADFF; color: #FFFFFF;}
/*-----------------------------------------------------------------------------------------*/


/* 定义页面头部显示信息 */

#mainbar {
	border-bottom:1px solid #000000;
	width: 100%;
	padding-top:20px;
	padding-bottom:2px;
	background-color: #F0F0F0;
}

/*取消浮动样式 ，通用  */
#mainbar .clear_div{
	clear: both;
}

#mainbar .top{
	margin-bottom: 5px;
	overflow: hidden;
}

/*上左  */
#mainbar .top_left{
	float: left;
}
/*上右  */
#mainbar .top_left .main_head{
	font-size:36px;
}



#mainbar .top_right{
	float: right;
}

#mainbar .top_right .main_blank{
	height:30px;
	float:none;
	text-align:right;
}

#mainbar .top_right .main_info{
	height:15px;
	text-align:right;
}


/* 下左 */
#mainbar .second_left{
	float: left;
}

/* 下左链接 */
#mainbar .second_left a{
	padding: 3px 3px;
	text-decoration: none;
	color:#000000;
	white-space:nowrap;
}
#mainbar .second_left a:hover{background-color: #5BADFF; color: #FFFFFF;}


/* 下右 */
#mainbar .second_right{
	float: right;
}

#mainbar .second_right .img_down{
	height: 12px;
	width: 10px;
}

/*-----------------------------------------------------------------------------------------*/
body {
	width: 996px;
	margin: 0 auto;
}

.none{
	display: none;
}

.col-1 {width:83px;}
.col-2 {width:166px;}
.col-3 {width:249px;}
.col-4 {width:332px;}
.col-5 {width:415px;}
.col-6 {width:498px;}
.col-7 {width:581px;}
.col-8 {width:664px;}
.col-9 {width:747px;}
.col-10 {width:830px;}
.col-11 {width:913px;}
.col-12 {width:996px;}

.coth-1 {width:82px;}
.coth-2 {width:165px;}
.coth-3 {width:248px;}
.coth-4 {width:331px;}
.coth-5 {width:414px;}
.coth-6 {width:497px;}
.coth-7 {width:580px;}
.coth-8 {width:664px;}
.coth-9 {width:746px;}
.coth-10 {width:829px;}
.coth-11 {width:912px;}
.coth-12 {width:995px;}

.coemp-1 {width:81px;}
.coemp-2 {width:164px;}
.coemp-3 {width:247px;}
.coemp-4 {width:330px;}
.coemp-5 {width:413px;}
.coemp-6 {width:496px;}
.coemp-7 {width:579px;}
.coemp-8 {width:663px;}
.coemp-9 {width:745px;}
.coemp-10 {width:828px;}
.coemp-11 {width:911px;}
.coemp-12 {width:994px;}


.nodate{
	border: 1px solid #AAAAAA;
	border-top-width: 0px;
	text-align: center;
	padding:2px 0px;
	border-collapse: collapse;
}

/*-----------------------------------------------------------------------------------------*/


